<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css">
    <title>Image Post</title>
</head>
<body>
    <div id="post-container" class="grid-container">
        <img id="image-post-image" src="/{{currentPost.photopath}}">
        <div id="info-message-grid">
            <div id="info">
                <header id="image-post-title">
                    <h2 id="image-post-title-text">{{currentPost.title}}</h2>
                </header>
                <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
                <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
                <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>

            </div>
            <div id="message">
                <header id="comment-title">
                    <h2>Comments</h2>
                </header>
                <div id="message-list">

                </div>
                <div id="comment-box">
                    <textarea id="comment-box-text"></textarea>
                    <i id="comment-box-button" class="fa fa-comment" aria-hidden="true" sytle="text-align: center;"></i>
                </div>
            </div>
        </div>
    {{!-- <header>
        <h1>Image Post</h1>
    </header>
    <form>
    <section>
        <label>Post Title</label>
    </section>
    <section>
        <label>Post Author</label>
    </section>
    <section>
        <label>Post Creation Time</label>
    </section>
    <section>
        <label>Post's Image</label>
    </section>
    </form> --}}
    </div>
</body>
</html>